<%= form_for([task, Ticket.new], :html => {:id => "task#{task.id}_form"}, :remote => true) do |f| %>
<table class="add_ticket">
  <tr>
    <td colspan="2">
      <%= f.label :name, 'Enter a ticket name' %><br />
      <%= f.text_field :name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :assigned_to %><br />
      <%= f.text_field :assigned_to, :size => 10 %>
    </td>
    <td>
      <%= f.label :due_date %><br />
      <%= f.date_select :due_date, :include_blank => true, :start_year => Time.now.year, :end_year => 3.year.from_now.year %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.submit %>
    </td>
  </tr>
</table>
<% end %>
