<table class="ticket show_border">

  <tr>
    <th>Ticket #<br /><b><%= ticket.id %></b></th>
    <th>Status<br /><b><%= ticket.status %></b></th>
    <th>Due date<br /><b><%= ticket.due_date %></b></th>
    <th class="actions"></th>
  </tr>
  
  <tr>
    <td colspan="3">
      <h2><%= ticket.name %></h2>
      <p><%= simple_format ticket.description %></p>
    </td>
    <td>
      <p>Opened <%= time_ago_in_words ticket.created_at.in_time_zone('Bangkok') %> ago by <%= ticket.opened_by || "anonymous" %></p>
      <p><%= link_to 'Edit this ticket', edit_ticket_path(ticket), :class => "small grey button" %></p>
      <p><%= link_to 'Delete this ticket', ticket, :confirm => 'Are you sure?', :method => :delete, :class => "small grey button" %></p>
    </td>
  </tr>  
  
</table>
