<div id="content_title">
  <h2>Tickets</h2>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Due date</th>
    <th>Assigned to</th>
    <th>Opened by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.name %></td>
    <td><%= ticket.description %></td>
    <td><%= ticket.status %></td>
    <td><%= ticket.due_date %></td>
    <td><%= ticket.assigned_to %></td>
    <td><%= ticket.opened_by %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
