<!DOCTYPE html>
<html>
<head>
  <title>Project Management App</title>
  <%= stylesheet_link_tag "reset", "scaffold", "basecamp", "button" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
  <h1 class="light">Project name</h1>
  
  <div id="nav">
    <%= render "shared/navigation" %>
  </div>
</div>

<div id="wrap">

  <div id="content">
    <%= yield %>
  </div>
  
  <div id="sidebar">
    <p><%= link_to '+ Add new task', new_task_path, :class => "large green button" %></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>

  <div style="clear:both;"></div>
</div>

</body>
</html>
